* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.my-container {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Variable */
:root {
  /* theme colors */
  --recover: #08725f;
  --victim: #b50122;
  --cases: #ea8c35;
  --main-color: #0f0f0f;
  --white: #ececec;
  --midnight: #1e1e1e;
}

/* ....................Global classes..................... */

/* <!------------- Navigation bar top(titlte)-------------------> */
#navimg1 {
  position: absolute;
  top: 0px;
  left: 185px;
  height: 86px;
  z-index: -1;
  opacity: 13;
  filter: blur(3px);
}
#navimg2 {
  position: absolute;
  top: 23px;
  right: 2px;
  height: 105px;
  z-index: -1;
  opacity: 13;
  filter: blur(3px);
}
#navimg3 {
  position: absolute;
  top: 58px;
  left: 0px;
  height: 105px;
  z-index: -1;
  opacity: 13;
  filter: blur(3px);
}
#navimg4 {
  position: absolute;
  top: 0px;
  right: 102px;
  height: 55px;
  z-index: -1;
  opacity: 13;
  filter: blur(3px);
}
#navbartop {
  background-image: url("img/corona.png");
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255, 0.26);
  z-index: 2;
}
nav#navbartop {
  display: flex;
  padding: 0 0.5rem;
  align-items: initial;
}
.proj-tittle {
  display: flex;
  flex-direction: column !important;
  justify-content: start;
}
#navbartop > a {
  color: rgb(115, 82, 82);
  display: block;
  margin: 0px !important;
}
.tittle-wrapper {
  margin-right: 115px;
}
.proj-tittle > span {
  line-height: 100%;
  font-size: 18px;
  display: block;
}
.nav-tittle {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.app-tittle.textcentre {
  padding: 0px;
}

.wrapper {
  height: 85vh !important;
  display: grid;
  grid-template-columns: 25% 55% 17% 4%;
}
/* <!------x------- Navigation bar top(titlte)--------x-----------> */
/* -------------------Main content------------------------- */

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
}
/* -----------------------Side Bar right----------------------- */
#sidebarleft {
  color: aliceblue;

  margin: 0 0 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--midnight) !important;
  height: 55vh;
}
#sidebarleft,
.sidebar-header {
  margin: 0 auto;
  padding: auto;
  font-size: 1.2rem;
}
.sidebar-header {
  border-bottom: solid #c4c4c4 1px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}
.tot-fig {
  display: inline-flex;
  align-items: flex-start;
}
.threeboxes {
  display: flex;
  padding-left: 20px !important;
  padding-right: 0px !important;
  border-right: solid white 1px;
}
.victim {
  position: relative;
  width: fi;
  margin: 0;
  padding: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.card {
  background-color: var(--midnight) !important;
}
.card-header {
  border-bottom: solid #fff 1px !important;
  position: relative;
  display: block !important;
  padding: 2px 0.5rem !important;
  margin-bottom: -1px;
  background-color: #fff;
}
.card-link {
  margin-right: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  align-items: center;
  color: #fff !important;
}
.card-body {
  color: var(--midnight);
  border: none;
  background: rgb(233, 229, 229);

  padding-right: 0;
}
/* -------x-------Side Bar right-------x-------- */

/* --------------Graph--------------- */
.graph {
  background: var(--midnight);
  height: 175px;
}
/* -------x-------Graph-------x-------- */

/* Side left */

.navbar.fixed-right {
  position: sticky;
  background: rgba(30, 30, 30, 0.7);
  border-radius: 20px 0px 0px 20px;
  color: #ffffff;
  float: right;
  bottom: 0;
  overflow-x: hidden;
  height: 100vh;
  align-items: flex-start;
}

#sidebarRight {
  /* display: none; */
  width: 100%;
  right: 0px;
}

.awesome-marker i {
  font-size: 20px;
  margin-top: 8px;
}

.menu-containers {
  background-color: var(--midnight);
}
.icon-box {
  background-color: var(--midnight);
  width: 100%;
  border: none;
}

#searchicon {
  width: 100%;
  border: solid 1px var(--white);
  color: var(--white);
}

.collapse .show {
  background-color: #9c9c9c;
}

a.active {
  background-color: #ffc83c;
}

li > a {
  color: var(--midnight);
}

.casetot {
  color: var(--cases);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px !important;
  line-height: 41px;
}

.victimtot {
  color: var(--victim);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px !important;
  line-height: 41px;
}

.recovertot {
  color: var(--recover);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px !important;
  line-height: 41px;
}

.case {
  margin-right: 10px;
  color: var(--cases);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 41px;
}

.victim {
  margin-right: 10px;
  color: var(--victim);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 41px;
}

.recover {
  color: var(--recover);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 41px;
}

/* #mapdiv {
  height: 92vh;
} */

/* #mapdiv {
  margin: 0;
  padding: 0;
  /* height: 5vh; 
} */

#right-info {
  width: 100%;
  z-index: 3;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #e5e5e5;

  width: 100%;
  border-radius: 0 0 8px 8px;
  margin: 0px !important;
}

ul > li {
  float: left;
  width: 20vw;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: #8c8c8c;
  text-align: center;
  font-size: 15px;
  padding: 14px 10px;
  text-decoration: none;
}

section {
  /* position: absolute;
  right: 0px;
  top: 110px;
  float: right; */

  border: 1px solid black;
  background-color: var(--midnight);

  border-radius: 5px;
  padding: 10px;
  display: flex;
  color: white;
  font-size: 0.9em;
  text-align: justify;
  vertical-align: top;
  z-index: 2000;
  overflow-y: auto;
}

.Graph {
  display: none;
}
.footer {
  align-content: center;
  color: #fff;
  background: var(--midnight);
}

/* ---------x----------Main content------------x------------- */
