/* <!-- Navigation bar top(titlte)--> */
html,
body {
    height: 100%;
    width: 100%;
}

.container-fluid {
    width: auto;
}

#navimg1 {
    position: absolute;
    width: 991px;
    height: 557px;
    left: -202px;
    top: -49px;
    z-index: -1;

    background: url(1584464765126png);

    opacity: 0.43;
}

#navimg2 {
    size: 50px;
    position: absolute;
    width: 991px;
    height: 557px;
    left: 200px;
    top: -50px;

    background: url(1584464765126png);

    opacity: 0.43;
}

#navbartop {
    padding: none;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.61);
}


/* popups */

.leaflet-popup {
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
    padding: 1px 0px;
    text-align: left;
    border-radius: 12px;
}

.leaflet-popup-content {
    margin: 2px 2px;
    line-height: 1.4;
}



.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #ECECEC;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}







#navbartop > a {
    color: rgb(255, 255, 255);
}

/* Side Bar left */
#sidebarRight {
    width: 300px;
    color: aliceblue;
    position: sticky;
    margin: 0 0 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1e1e1e !important;
}

.accordion {
    overflow-y: auto
}

.popup-content {
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4
}

.sidebar-header {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;

}

.sidebar-header {
    margin: auto !important;
    border-bottom: solid #c4c4c4 1px;
}

.tot-fig {
    margin: auto !important;
}

.threeboxes {
    display: inline !important;
    padding-left: 15px !important;
    padding-right: 0px !important;

    border-right: solid white 1px;
}

.threeboxes:nth-last-child(1) {
    /* les trois derniers enfants */
    border: none;
}

.victim {
    position: relative;
    width: fi;
    margin: 0;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card {
    background-color: #1e1e1e !important;
    border-bottom: solid #fff 1px;
}

.card-header {
    border-bottom: solid #fff 1px !important;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #1e1e1e;

    /* padding-right: 0; */
}

.card-link {
    margin-right: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    align-items: center;
    color: #fff !important;
}

.card-body {
    color: #1e1e1e;
    border: none;
    background: rgb(233, 229, 229);

    padding-right: 0;
}

/* Side left */
#map-sidebar {
    padding: 0 !important;
    width: 100%;
}

.sidebar-sticky {
    padding: 20px;
    margin: inherit;
}

.sidebar-sticky > h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffc800;
}

#sidebarCollapse {
    color: #fff;
    height: 10%;
}

#right-info {
    color: #c4c4c4;
    background-color: #2e2e2e;
    /* border-radius: 20px 0px 0px 20px; */
    min-width: 200px;
    max-width: 300px;
    position: relative;
    /* top: 15px; */
    height: 100%;
    overflow-y: auto;
}

.custom-menu {
    /* position: absolute; */
    left: 670px;
    /* transform: rotate(270deg); */
    bottom: 400px;
    transition: 0.3s;
    z-index: 1;
    font-family: "FontAwesome";
    color: #fff;
    background-color: #1e1e1e !important;
    border-radius: 10px 10px 10px 10px;
}

.navbar.fixed-right {
    position: sticky;
    background: rgba(30, 30, 30, 0.7);
    border-radius: 20px 0px 0px 20px;
    color: #ffffff;
    float: right;
    bottom: 0;
    overflow-x: hidden;
    height: 100vh;
    align-items: flex-start;
}

/* .awesome-marker i {
  font-size: 20px;
  margin-top: 8px;
} */

.collapse .show {
    background-color: #9c9c9c;
}

li > a {
    color: #1e1e1e;
}

.casetot {
    color: #ea8c35;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px !important;
    line-height: 41px;
}

.victimtot {
    display: inline !important;
    color: #b50122;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px !important;
    line-height: 41px;
}

.tot-tagline {
    display: inline;
}

.recovertot {
    display: inline !important;
    color: #08725f;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px !important;
    line-height: 41px;
}

.case {
    margin-right: 10px;
    color: #ea8c35;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 41px;
}

.victim {
    margin-right: 10px;
    color: #b50122;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 41px;
}

.recover {
    color: #08725f;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 41px;
}

#mapdiv {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    /* height: 5vh; */
}

.footer {
    color: #fff;
    background: #1e1e1e;
    z-index: 1;
}

/* Others  */
/* .d-flex {
  display: flex !important;
} */
