body {
    margin: 0;
    overflow-x: hidden
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #565656;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

}

li {
    float: left;
    width: 20vw;
    border-right: 1px solid #bbb;


}

li a {
    display: block;
    color: #FFC800;
    text-align: center;

    font-size: 15px;
    padding: 14px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none
}

.active {
    background-color: #FFC800;
    color: #1E1E1E;
    text-decoration: none
}

/* zoomcontrol */

.leaflet-bar a {
    background-color: black;
    color: #FFC800
}
